<header>
  <div id="docs-header">
    <div class="docs-header-headline">
      <h1>F.A.Q. Domande frequenti</h1>
      <p>Qui puoi trovare le risposte alle domande più frequenti</p>
    </div>
  </div>
</header>


<div class="container" ngfor>
    <mat-accordion *ngFor="let f of faq">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <span class="faq title">{{f.title}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="faq content" [innerHTML]="f.content">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
</div>
