<header>
  <div id="docs-header">
    <div class="docs-header-headline">
      <h1>F.A.Q. Domande frequenti</h1>
      <p>Qui puoi trovare le risposte alle domande più frequenti</p>
    </div>
  </div>
</header>


<div class="container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            A quale concorso posso partecipare attraverso questo portale?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Demo test demo</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Come posso accedere al portale per un concorso pubblico?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          È possibile accedere al portale per la presentazione di una domanda per un concorso pubblico tramite SPID o
          CIE. Per ulteriori informazioni in merito è disponibile una guida cliccando qui
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sono un minore come posso presentare la domanda per i concorsi che prevedono la mia partecipazione?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Il genitore del minore di anni 18 potrà accedere al portale utilizzando le proprie credenziali SPID o CIE
          dichiarando all'interno del form di compilazione della domanda di partecipazione di presentare la domanda per
          “minore di anni 18” e dovrà allegare obbligatoriamente entro il termine perentorio di dieci giorni dalla
          scadenza della domanda di partecipazione il modulo da compilare ed inviare via PEC messo a disposizione nel
          portale per il consenso dei genitori all’assunzione del minore nella Polizia di Stato.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
</div>
