<header>
  <div id="docs-header">
    <div class="docs-header-headline">
      <h1>CONTATTI</h1>
      <p>È possibile inoltrare richieste di assistenza o contattare gli uffici preposti ai seguenti indirizzi di posta elettronica</p>
    </div>
  </div>
</header>


<div class="card-container">

</div>

<mat-card class="card-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px">
    <span class="title">Per informazioni di tipo amministrativo:</span>
    <span>Direzione Centrale per l’Amministrazione Generale-Dirigente in posizione di Staff - Responsabile della gestione dei concorsi di accesso e del relativo contenzioso </span>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>email</mat-icon>&nbsp;<a href="mailto:ag.concorsiaccesso@cert.vigilfuoco.it">ag.concorsiaccesso@cert.vigilfuoco.it</a></mat-list-item>
    </mat-list>

    <span>Dirigente in posizione di Staff - Responsabile della gestione dei concorsi interni, delle riqualificazioni e del relativo contenzioso</span>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>email</mat-icon>&nbsp;<a href="mailto:ag.riqualificazione@cert.vigilfuoco.it">ag.riqualificazione@cert.vigilfuoco.it</a></mat-list-item>
    </mat-list>

  </div>
</mat-card>

<mat-card class="card-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px">
    <span class="title">Per problemi tecnici del portale::</span>
    <span>Direzione Centrale per le Risorse Logistiche e Strumentali - Ufficio per la tecnologia dell’Informazione e della Comunicazione </span>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>email</mat-icon>&nbsp;<a href="mailto:helpdesk.concorsi@vigilfuoco.it">helpdesk.concorsi@vigilfuoco.it</a></mat-list-item>
    </mat-list>

  </div>

</mat-card>
