<div class="flex-container">

  <header>
    <div id="docs-header">
      <div class="docs-header-headline">
        <h1>Portale Concorsi VVF</h1>
        <p>Selezionare la tipologia di concorso per accedere</p>
      </div>
    </div>
  </header>

  <div class="flex-row">

    <button  mat-raised-button (click)="openSidenav()">
      <p class="title">CONCORSO PUBBLICO</p>
    </button>


    <button  mat-raised-button (click)="openSidenav()">
      <p class="title">CONCORSO INTERNO</p>
    </button>

  </div>

</div>
